{{yield}}

  <div class="command-console">
    <div class="console-window">
      <p>{{currNode.path}}</p>
      {{#each consoleMessages as |message|}}
        <p>{{message}}</p>
      {{/each}}
    </div>
    <div class="input-box">
      {{input label="consoleInput" type="text" name="consoleInput" value=consoleInput placeholder="console input" enter="consoleEnter"}}
      <button type="button" name="enter" {{action "consoleEnter" consoleInput}}>Enter</button>
    </div>
  </div>
  <div class="game-block">
    <div class="game-info">
      <p>Welcome to the game-page, your current role is {{role}}</p>
      {{#if (user-is-operator role)}}
        <p>As the operator, you're tasked with helping the operative overcome obstacles by accessing the main server for passwords and other information.  You, yourself, are trapped with no way to escape without the operative's help.</p>
      {{else}}
        <p>As the operative, you are trapped in the station and unable to escape without the operator's help.  You will have to use local terminals to find information on where you are and what you need to do.  Give this information to the operator and they can help you escape.</p>
      {{/if}}
      <p>If you're not sure what to do, you can type --help to get started</p>
    </div>
    <div class="game-chat-area">
      <div class="chat-box">
        <div class="chat-window">
          {{#each gameChatMessages as |message|}}
            <p>{{message}}</p>
          {{/each}}
        </div>
        <div class="input-box">
          {{input label="chatInput" type="text" name="chatInput" value=chatInput placeholder="console input" enter="chatEnter"}}
          <button type="button" {{action "chatEnter"}}>Send</button>
        </div>
      </div>

    </div>

  </div>
