
<header>
  <div class="page-header">
    {{#link-to "index"}}
      <div class="app-title">
        <h1 class="courier">$lockDown</h1>
      </div>
    {{/link-to}}

    <nav>
      {{#if loggedIn}}
        <button type="button" name="navbar-btn" {{action (mut showUserModal) true}}>{{user}}</button>
        <button type="button" class="navbar-btn" {{action "logOut"}}>Log Out</button>
      {{else}}
        <button type="button" class="navbar-btn" {{action (mut logInModal) true}}>Log In</button>
        <button type="button" class="navbar-btn" onClick={{action (mut signUpModal) true}}>Sign Up</button>
      {{/if}}
    </nav>

  </div>
</header>

<main>
  {{
    outlet
  }}
</main>

<!-- SIGN UP MODAL  -->

{{#bs-modal open=signUpModal onSubmit=(action "signUp") onHidden=(action (mut signUpModal) false) as |modal|}}
  {{#modal.body}}
    <h4>Sign Up</h4>
    {{#bs-form formLayout="vertical" model=this onSubmit=(action "signUp" modal) as |form|}}
      {{form.element label="username" placeholder="username" property="username" required=true value=signUpUsername}}
      {{form.element controlType="email" label="email" placeholder="example@email.com" value=signUpEmail property="email" required=true}}
      {{form.element controlType="password" label="password" placeholder="password" property="password" required=true value=signUpPassword helpText="minimum 6 characters"}}
      {{bs-button defaultText="Cancel" type="primary" buttonType="button"  onClick=(action "closeModal" modal)}}
      {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    {{/bs-form}}
  {{/modal.body}}
{{/bs-modal}}

<!-- LOG IN MODAL  -->

  {{#bs-modal open=logInModal onSubmit=(action "logIn" modal) onHidden=(action (mut logInModal) false) as |modal|}}
    {{#modal.body}}
    <h4>Log In</h4>
      {{#bs-form formLayout="vertical" model=this onSubmit=(action "logIn" modal ) novalidate=false as |form|}}
        {{form.element controlType="username" label="username" placeholder="username" property="username" required=true value=logInUsername}}
        {{form.element controlType="password" label="password" placeholder="password" property="password" required=true value=logInPassword helpText="minimum 6 characters"}}
        {{bs-button defaultText="Cancel" type="primary" buttonType="button"  onClick=(action "closeModal" modal )}}
        {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
      {{/bs-form}}
    {{/modal.body}}
{{/bs-modal}}

<!-- SHOW USER MODAL -->

{{#bs-modal open=showUserModal onHidden=(action (mut showUserModal) false ) as |modal|}}
  {{#modal.body}}
    <h4>Current User Info</h4>
    <p><strong>username: </strong>{{user}}</p>
    <p><strong>email: </strong> {{userEmail}}</p>
    <button type="button" name="button" {{action "deleteUser" modal}}>Delete User</button>

    <h4>Edit User Info</h4>
    {{#bs-form formLayout="vertical" model=this onSubmit=(action "editUser" modal) as |form|}}
      {{form.element label="username" placeholder="username" property="username" value=editUsername}}
      {{form.element controlType="email" label="email" placeholder="example@email.com" value=editEmail property="email"}}
      {{form.element controlType="password" label="password" placeholder="password" property="password" value=editPassword helpText="minimum 6 characters"}}
      {{bs-button defaultText="Cancel" type="primary" buttonType="button"  onClick=(action "closeModal" modal)}}
      {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    {{/bs-form}}
  {{/modal.body}}
{{/bs-modal}}
