
<header>
  <div class="page-header">
    {{#link-to "index"}}
      <div class="app-title">
        <h1 class="courier">lockDown()</h1>
      </div>
    {{/link-to}}
    <nav>
      {{#if loggedIn}}
        <h3>{{user}}</h3>
        <button type="button" class="navbar-btn" {{action "logOut"}}>Log Out</button>
      {{else}}
        <button type="button" class="navbar-btn" {{action "logIn"}}>Log In</button>
        <button type="button" class="navbar-btn" {{action "signUp"}}>Sign Up</button>
      {{/if}}
    </nav>

  </div>
</header>

<main>
  {{outlet}}
</main>
