{{outlet}}
<div class="game-lobby">
  <div class="games-list">
    <div class="games-window">
      {{#each model.games as |game|}}
        {{#if game.publicRoom}}
          <p>
            {{game.owner}} -
            {{game.timestamp}} -
            {{#if (is-game-owner user game.owner)}}
              <button type="button" name="button" {{action "enterGame" timestamp}}>Enter Game</button> -
              <button type="button" name="button"{{action "deleteGame" game.timestamp}}>Delete Game</button>
            {{else}}
              <button type="button" name="button" {{action "joinGame" game.timestamp}}>Join Game</button>
            {{/if}}
          </p>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="lobby-chat-area">
    {{
      lobby-chat-box
      user=user
      socketIOService=socketIOService
      url=url
      lobbyChatMessages=lobbyChatMessages
      lobby=lobby
      store=store
    }}
  </div>
</div>
